body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #2d38d1e3, #dd55ff);
    align-items: center;
}
.separation{
    margin-top: 7vh;
}
.center{
    text-align: center;
}
.card {
    margin-top: 80px;
    border-radius: 6px;
    padding: 20px 30px;
    box-shadow: 5px 5px 5px #666060;
    background-color: #fff;
    border-top: 8px solid;
    border-color: rgb(50, 205, 140);
    max-width: 200px;
}
.press{
    border-color: cornflowerblue;
}
.sales{
    border-color: rgb(45, 118, 253);
}
.flex{
    display: flex; 
    gap: 25px;
}
.btn{
    border-radius: 16px;
    border: none;
    display: flex;
    justify-content: center;
    padding: 6px 20px;
    text-align: center;
    cursor: pointer; 

}
.btn-page{
    margin-top: 30px;
    background-color: rgb(50, 205, 140);
    color: #fff;
    font-size: 16px;
    margin-top: 60px;
}
.btn-page:active {
    filter: brightness(0.9); 
}
.btn-request{
    font-size: 14px;
    background-color: #fff;
    margin-top: 6px;
    color: #3d3d3d;
}
.btn-request:hover{
    color: #000000;
}
.btn-sales{
    margin-top: 30px;
    background-color: #fff;
    color: rgb(45, 118, 253);
    font-size: 16px;
    margin-top: 80px;
    border: 2px solid rgb(45, 118, 253);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer; 
}
.btn-sales:active {
    filter: brightness(0.9); 
}
.btn-press{
    margin-top: 30px;
    background-color: #fff;
    color: cornflowerblue;
    font-size: 16px;
    margin-top: 39px;
    border: 2px solid cornflowerblue;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer; 
}
.btn-press:active {
    filter: brightness(0.9); 
}