body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #2d35d1, #dd55ff);
    align-items: center;
}
.card {
    margin-top: 80px;
    border-radius: 6px;
    padding: 20px 40px;
    box-shadow: 5px 5px 5px #666060;
    background-color: #fff;
    border-top: 8px solid;
    border-color: rgb(50, 205, 140);
    max-width: 200px;
}

.btn{
    border-radius: 16px;
    border: none;
    display: flex;
    justify-content: center;
    padding: 6px 20px;
    text-align: center;
    cursor: pointer; 

}
.btn-page{
    margin-top: 30px;
    background-color: rgb(50, 205, 140);
    color: #fff;
    font-size: 16px;
    margin-top: 60px;
}
.btn-request{
    font-size: 14px;
    background-color: #fff;
    margin-top: 6px;
    color: #3d3d3d;
}
.btn-request:hover{
    color: #000000;
}